@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
}

html {
    font-size: 109%;
}

header {
    color: #666d89;
    background-color: #2d303a;
    width: 1020px;
    margin: auto;
    padding: 61px 40px 0px 40px;
    text-align: justify;
    font-size: 87%;
    font-weight: 1100;

}

header p {
    padding-top: 21px;
    text-align: justify;
    font-size: 119%;
    font-weight: 300;
    color: #767e9e;
    letter-spacing: 0.0015px;
}

nav {
    background-color: #2d303a;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 18px;
    width: 1020px; 
    margin: auto;
}

.tabs {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: stretch;
    padding-left: 1px;
    
}

.tabs button {
    color: #666d89;
    background-color: #2d303a;
    border-radius: 5px;
    border: #666d89 solid 1px;
    margin-right: 10px;
    margin-top: 0px;
    font-size: 0.67em;
    font-weight: 600;
    padding: 3px 6px 4px 6px;
}


.tabs button:hover {
    border: white solid 1px;
    color: white;
}

.gallery {
    background-color: #2d303a;
    width: 1020px;
    margin: auto;
    padding: 0px 36px 47px 40px;
    border-bottom: 6px solid #323746;
}

.container {
    column-count: 4;
}

.column {
    display: flex;
    flex-direction: column; 
    align-content: flex-start;
    justify-content: space-around;
}

.column img {
    margin-bottom: 20px;
    width: 220px;
    height: 187px;
}

.footer {
    background-color: #f2f2f2;
    color: #666d89;
    width: 1020px;
    margin: auto;
    padding-top: 59px;
    padding-left: 39px;
    font-size: 87%;
}
.about h1 {
    padding-left: 1px;
}
.about p {
    color: #a1a5b9;
    padding: 19px 40px 44px 1px;
    text-align: justify;
    font-weight: 400;
    font-size: 115%;
    line-height: 1.73rem;
}

.people {
    padding: 1px 34px 65px 0px;

}

.footer-container {
    column-count: 3;
    column-width: auto;
}

.footer-container h2 {
    white-space: nowrap;
    font-weight: 800;
    padding-top: 12px;
    font-size: 118%;
}

.footer-container p {
    padding-top: 8px;
    padding-right: 2px;
    font-size: 79%;
    font-weight: 400;
    text-align: justify;
    line-height: 1.76em;
}

.footer-container img {
    width: 300px;
    height: 300px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 23px;
}

.social img {
    height: 34px;
    width: 35px;
    margin-right: 5px;
}

.line {
    background-color: white;
    position: absolute;
    height: 6px;
}

.social img:hover {
    filter:  contrast(400%);
}